*
{
    margin: 0;
    padding: 0;
}

/*Squear position*/
.box { 
    box-sizing: border-box; 
    font-family: Arial; 
    color: #eee; 
    width: 125px; 
    height: 125px; 
    text-align: center; 
} 

.blue, 
.green { 
    position: absolute; 
} 

.red { 
    background: #F52238; 
} 

.green { 
    background: #325410; 
    top: 40px; 
    left: 40px; 
} 

.blue
{
    background: #0B12A0;
    top: 80px;
    left:80px;
}